# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Konvex
Name[ar]=محدب
Name[ca]=Konvex
Name[ca@valencia]=Konvex
Name[de]=Konvex
Name[eo]=Konvex
Name[es]=Konvex
Name[eu]=Konvex
Name[fi]=Konvex
Name[fr]=Konvex
Name[gl]=Konvex
Name[he]=Konvex
Name[ia]=Konvex
Name[it]=Konvex
Name[ka]=Konvex
Name[ko]=Konvex
Name[lv]=Konvex
Name[nl]=Konvex
Name[pl]=Konvex
Name[pt_BR]=Konvex
Name[sa]=कोन्वेक्स
Name[sl]=Konvex
Name[sv]=Konvex
Name[tr]=Konveks
Name[uk]=Конвекс
Name[zh_CN]=Konvex
Name[zh_TW]=Konvex
Comment=3D Model Viewer
Comment[ar]=عارض النماذج ثلاثية الأبعاد
Comment[ca]=Visualitzador de models 3D
Comment[ca@valencia]=Visor de models en 3D
Comment[de]=Betrachter für 3D-Modelle
Comment[eo]=3D-Modela Vido
Comment[es]=Visor de modelos 3D
Comment[eu]=3D eredu erakuslea
Comment[fi]=3D-mallikatselin
Comment[fr]=Afficheur de modèles 3D
Comment[gl]=Visor de modelos 3D.
Comment[he]=מציג דגמים תלת־ממדיים
Comment[ia]=Visor de modello de 3D
Comment[it]=Visore di modelli 3D
Comment[ka]=3D მოდელების დათვალიერება
Comment[ko]=3D 모델 뷰어
Comment[lv]=3D modeļu skatītājs
Comment[nl]=Viewer van 3D-model
Comment[pl]=Przeglądarka modeli 3D
Comment[pt_BR]=Visualizador de modelo 3D
Comment[sa]=3D मॉडल दर्शक
Comment[sl]=Pregledovalnik 3D modelov
Comment[sv]=Visning av tredimensionella modeller
Comment[tr]=3B model görüntüleyicisi
Comment[uk]=Переглядач просторових моделей
Comment[zh_CN]=3D 模型查看器
Comment[zh_TW]=3D 模型檢視器
Exec=konvex
Icon=shape-cuboid
Type=Application
Terminal=false
Categories=Utility;
MimeType=model/obj;model/stl;application/octet-stream;
