# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Konvex
Name[ca]=Konvex
Name[ca@valencia]=Konvex
Name[es]=Konvex
Name[eu]=Konvex
Name[fr]=Konvex
Name[gl]=Konvex
Name[he]=Konvex
Name[ia]=Konvex
Name[ka]=Konvex
Name[nl]=Konvex
Name[sl]=Konvex
Name[tr]=Konveks
Name[uk]=Конвекс
Name[x-test]=xxKonvexxx
Comment=3D Model Viewer
Comment[ca]=Visualitzador de models 3D
Comment[ca@valencia]=Visor de models en 3D
Comment[es]=Visor de modelos 3D
Comment[eu]=3D eredu erakuslea
Comment[fr]=Afficheur de modèles 3D
Comment[gl]=Visor de modelos 3D.
Comment[he]=מציג דגמים תלת־ממדיים
Comment[ia]=Visor de modello de 3D
Comment[ka]=3D მოდელების დათვალიერება
Comment[nl]=Viewer van 3D-model
Comment[sl]=Pregledovalnik 3D modelov
Comment[tr]=3B model görüntüleyicisi
Comment[uk]=Переглядач просторових моделей
Comment[x-test]=xx3D Model Viewerxx
Exec=konvex
Icon=shape-cuboid
Type=Application
Terminal=false
Categories=Utility;
MimeType=model/obj;model/stl;application/octet-stream;
